body
    background-color #f5f6fa
    font-size 14px
    font-family "Roboto", sans-serif;


h2,h3,h4,h5,ul,body,html
    padding 0px
    margin 0px
.mtop16
    margin-top 16px




.logo
    width 150%
    height 100%
    position relative
    z-index 9999
    img
        width 150%
        height 100%

.wrapper 
    min-height 100vh
    overflow hidden
    display flex
    flex-wrap nowrap /* Prevent wrapping */
    
.col1 
    position relative
    z-index 999
    width 17%
    min-width 200px /* Ensure it doesn't get too small */
    background-color lightblue /* For visualization */

.col2 
    position relative
    width 83% /* Remaining width after col1 */
    min-width 300px /* Ensure it doesn't get too small */
    background-color #fff /* For visualization */
    overflow hidden /* Prevent overflow */
    






.sidebar
    background-color #fff
    min-height 100vh
    min-width 30vh
    .section-top
        background-color #ff8478
        box-shadow 0 0.5rem 1rem #f3c7db
    .logo
        display block
        width 30vh
    .user
        color #fff
        padding 16px
        a 
            color #fff
            text-decoration none
            font-size 1.3em
            i
                margin-right 10px
    .menu
        padding 16px
        ul
            list-style-type none
            li
                margin-bottom 4px
                a
                    color #b75b76
                    display block
                    font-size 1.3em
                    padding 12px 16px
                    i   
                        margin-right 10px
                  
            font-size: 1.2em

            // Estilos de los links en el admin
    .main
        display block
        margin-top: 6px
        ul
            li
                margin-bottom 4px
                a
                    color #b75b76
                    display block
                    font-size 1.1em
                    padding 8px 8px
                    i   
                        margin-right 10px
                       
                    &:hover
                       background-color #ff8478
                       box-shadow 0 0.5rem 1rem #f3c7db
                       color #fff !important
                       text-decoration none
                a.active
                    background-color #ff8478
                    box-shadow 0 0.5rem 1rem #f3c7db
                    color #fff !important
                    text-decoration none





.navbar
    background-color #ff8478
    .nav-link
        color #fff


.page
    padding-top 14px
    padding-bottom 14px
    .breadcrumb
        background-color #fff
        box-shadow 0 0.5rem 1.2rem rgb(0,0,0,0.15) !important
        padding 10px
        .breadcrumb-item
            
            a
                color #ff8487
                text-decoration none  !important
                    

    .panel
        background-color #fff
        border-radius 7px
        border-bottom 2px solid #ff8478
        width 100%
        .header
            border-bottom 2px solid red
            h2.title
                display inline-block
                color #19213d
                font-size 1.1em
                padding 11px 15px
            ul
                display inline-block
                float right
                margin-right 12px
               
                li
                    display inline-block 
                    position relative
                    
                    a   
                        color #333
                        display inline-block
                        padding 8px
                        text-decoration none
                        &:hover
                            background-color #f5f5f5
                            color #222
                        i
                            color red
                    ul
                        background-color #fff
                        border 1px solid #f1f1f1
                        display none
                        float none
                        position absolute
                        width 180px
                        li 
                            display inline-block
                            border-buttom 1px solid #fff
                            width 100%
                            &:last-child
                                border-bottom 0px
                            a
                                display inline-block
                                width 180px
                    &:hover
                        ul
                            display block

        .inside
            padding 14px 
            width 100%
            .nav
                .nav-link
                        border 1px solid#ff8478
                        border-radius 8px
                        margin-right 8px
                        color #19213d
                        font-size 1.1em
                        padding 11px 15px
                        &:hover
                            background-color #ff8478
                            box-shadow 0 0.5rem 1rem #f3c7db
                            color #ffff !important
                            text-decoration none
            .form_search
                display none
                margin-bottom 16px
                .btn
                    width 100%
            // Para el apartado de dashoboard (stats)
            .big_count
                display block
                font-size 2em
                text-align center
                width 100%


.opts
    a
        display inline-block
        border 1px solid#f0f0f0
        border-radius 3px
        padding 7px 12px
    text-align right    

.product_gallery 
  overflow hidden
  cursor pointer

  .btn-submit 
    display block
    margin-right 1%
    width 100%

    a 
      border 1px dashed #666
      border-radius 4px
      color #333
      display block
      font-size 1.2em
      text-align center
      width 100%
      padding 10px
      transition all 0.3s ease

      &:hover 
        background-color #ff8478
        color #fff
        animation: move 0.5s infinite alternate
 

  @keyframes move 
    0% 
      transform translateX(0)
    
    50% 
      transform translateX(-5px)
    
    100% 
      transform translateX(5px)
    
.tumbs
    overflow hidden
    
    .tumb
        margin-top 7px
        float left
        position relative
        width 46%
        a 
            background-color rgb(0,0,0,.5)
            display inline-block
            color #fff
            padding 6px 10px
            position absolute
            bottom 8px
            right 7px
            border-radius 50%

        img
            border-radius 10px
            width 100%
        &:nth-child(odd)
            margin-right 4%
        ;

.page_user
    .inside
        .avatar
            margin 0px auto
            display block
            width 246px
            height 140px
            width 140px            
            border-radius 50%

        .info
            span
                display block
                font-size 1.2em
                width 100%
            span.Title
                font-weight bold
        .btn
            margin-top 16px
            width 100%