color1 = red
color2 = #fdd700

body
    background-color #f1f1f1
    font-size 15px
    font-family 'Roboto' , sans-serif

.mtop16
    margin-top 16px
.mtop32
    margin-top 32px


nav
    border-bottom 3px solid color1
    .navbar-brand
        img
            width 200px

    .navbar-nav
        li.nav-item
            a.nav-link
                border 2px solid #ffff
                border-radius 5px
                color #000
                font-size .9em
                font-weight bold
                margin-right 4px
                padding 5px 16px  !important
                &:hover
                    color color1
            a.btn
                color black
                &:hover
                    background-color color2
                    color white
                    border-color color2
            ul.dropdown-menu
                border-radius 0px 0px 4px 4px
                border 0px
                top 162% !important
                li
                    &:last-child
                        border-bottom 0px
                   

        li.link-acc
            overflow hidden
            a
                display inline-block
                float left
                margin-right 0px 
                i
                    color color1
                    margin-right 10px
                &:first-child
                    border-radius 4px 0px 0px 4px
                    border-right 0px solid color2
                &:last-child
                    border-radius 0px 4px 4px 0px
                img
                    position relative
                    top -2px
                    width 25px
                    border-radius 25px
                    margin-right 10px
        li.link-user
            overflow initial
            a
                border-radius  12px !important

.wrapper
        .panel
            background-color #fff
            border-radius 7px
            border-bottom 2px solid #ff8478
            width 100%
        .header
            border-bottom 2px solid red
            h2.title
                display inline-block
                font-size 1.1em
                padding 11px 15px
                margin-bottom 0px
            ul
                display inline-block
                float right
                margin-right 12px
               
                li
                    display inline-block 
                    position relative
                    
                    a   
                        color #333
                        display inline-block
                        padding 8px
                        text-decoration none
                        &:hover
                            background-color #f5f5f5
                            color #222
                        i
                            color red
                    ul
                        background-color #fff
                        border 1px solid #f1f1f1
                        display none
                        float none
                        position absolute
                        width 180px
                        li 
                            display inline-block
                            border-bottom 1px solid #fff
                            width 100%
                            &:last-child
                                border-bottom 0px
                            a
                                display inline-block
                                width 180px
                    &:hover
                        ul
                            display block

        .inside
            padding 14px 
            width 100%
            .nav
                .nav-link
                        border 1px solid#ff8478
                        border-radius 8px
                        margin-right 8px
                        color #19213d
                        font-size 1.1em
                        padding 11px 15px
                        &:hover
                            background-color #ff8478
                            box-shadow 0 0.5rem 1rem #f3c7db
                            color #ffff !important
                            text-decoration none
            .form_search
                display none
                margin-bottom 16px
                .btn
                    width 100%
            // Para el apartado de dashoboard (stats)
            .big_count
                display block
                font-size 2em
                text-align center
                width 100%
            .edit_avatar
                a
                    display block
                    width 140px                
                    margin 0px auto
                    .overlay
                        align-items center
                        background-color rgba(0,0,0,.55)
                        border-radius 50%
                        height 140px
                        width 140px
                        display none
                        justify-content center
                        color #fff
                        font-size 2em
                        position absolute
                        img
                            width 100px
                     &:hover
                        .overlay
                            display flex


                img
                    border-radius 50%
                    display block
                    width 100%
                .form-control
                    display none
            .btn-primary
                background-color color1
                border 0px
                padding 8px 50px !important
                &:hover
                    background-color color2
                    color #000

// Categorias
.home_action_bar
    background-color #fff
    border-radius 4px
    padding 8px
    margin-top 25px
    .categories
        position relative
        a
            background-color #000
            border-radius 4px
            color #fff
            display block
            padding 12px
            width 100%
            font-size 16px
            text-transform uppercase
            text-decoration none
            &:hover
                background-color #ec0001
                color #fff
        &:active
        &:focus
            a   
                background-color #fff
        &:hover
            ul
                display block

        ul
            display none
            list-style none
            padding 0px
            margin 0px
            position absolute
            width 100%

            li
                a
                    background-color #f8f8f8
                    border-radius 0px
                    color #111
                    padding  12px
                    border-radius 0px
                    img
                        position relative
                        margin-top -3px
                        margin-right 10px
                        width 24px
                    &:hover
                        color #fff


    .input-group
        

        position relative
        border 0px
        i
            position absolute
            font-size 1.4em
            top 12px
            left 15px
            z-index 10
        .form-control
            border-radius 6px 0px 0px 6px
            z-index 2
            padding 10px 16px
            padding-left 46px
            z-index 2
            #button-addon1:active 
                    border-color none !important
            &:focus 
                border 1px solid red
                
        &:focus-within
            i
                color red
            .btn
                background-color red
                color #fff
        .btn 
            background-color #111
            color #fff

// Slide
.mkslider
    display block
    min-height 400px
    flex-wrap wrap
    margin-top 24px
    width 100%
    position relative
    overflow hidden
    .mk-slider-item
        align-items center
        border-right 1px solid #fff
        display block
        border-radius 4px
        background-color #fff
        color #fff
        font-size 1em
        justify-content center
        position absolute
        width 100% !important
        min-height 100px
        transition .5s all ease-in-out
        .col-md-7
        .col-md-5
            padding 0px
        .row
            margin 0px
            padding 0px
        .content
            align-items center
            color #333
            display flex !important
            height 100%
            justify-content center
     
            h2
            p
                padding block
                width 100%
            .cinside
                text-align center
                padding-left 20px
                border-left 4px solid red
                max-width 50%
                
                h2
                    font-size 1em
                .btn
                    display inline-flex
                    color #fff
                    background-color color2
                    margin 0px auto


    ul.navigation
        display block
        width 100%
        margin 0px
        position absolute
        top calc(50% - 10px)
        overflow hidden
        padding 0px
        z-index 9
        li
            display inline-flex
            float left
            a   
                align-content center
                background-color rgba(0,0,0,.4)
                border-radius 50%
                display flex
                justify-content center
                font-size 1.4em
                height 36px
                width 36px
                text-decoration none
                color #fff
            &:first-child
                margin-left 20px
                a
                    i
                        position relative
                        margin-left 2px
                        margin-top 8px
            &:last-child
                float right
                margin-right 29px
                a
                    i
                        position relative
                        margin-right 2px
                        margin-top 8px
.load_more_products
    margin-bottom 24px
    a
        display block
        border-radius 4px
        background-color red
        color #fff
        font bold
        width 40%
        position relative
        margin-left 30%
        padding: 8px
        text-align center
        text-transform uppercase
        text-decoration none
        &:hover
            background-color color2
            color #333



.products_list
    display block
    margin-top 30px
    padding 0px
    overflow hidden
    width 100%
    .product
        display inline-block
        float left
        width 18%
        margin-bottom 23px
        margin-right 2.5%
        position relative
        &:nth-child(5n)
            margin-right 0px
        .image
            display block
            width 100%
            position relative
            overflow hidden 
            .overlay
                position absolute
                background-color rgba(0,0,0,.3)
                display none
                width 100%
                z-index 9
                flex 1
                height 100%
                transition .3s all ease-in-out
                border-radius 4px
                .btns
                    position absolute
                    bottom 8px
                    display block
                    left 3%
                    overflow hidden
                    width 94%
                    a   
                        background-color #fff
                        border-radius 4px
                        box-sizing border-box
                        color #333
                        display block
                        font-size 1.2em
                        padding 0px
                        float left
                        margin-right 2%
                        text-align center
                        width 32%
                        &:last-child
                            margin-right:  0px
            img
                display block
                width 100%
                border-radius 4px
                transform scale(1)
                transition .3s all ease-in-out
                z-index 5
        &:hover
            .image
                img
                    transform scale(1.2);
                .overlay
                    display flex
        a   
            display block
            text-decoration none
            width 100%
            position relative
            .image
            .title
            .price
            .options
                display block
                width 100%

            .price     
                margin-top 8px
            .title
                font-size 1.2em
                color #111
            .price
                font-size 1.4em
                font-weight bold
                color #111
                margin-top 4px

.favorite_active
    background-color color1 !important
    color #fff !important
  


@media only screen and (max-width 728px)
    nav
        .navbar-nav 
            display block !important
            overflow hidden
            margin-top 16px!important
            li.nav-item
                float left
                display block
                margin-right 0px
                width 50%
                margin-bottom 10px
                &:hover
                    color: red

                a.nav-link
                    text-align center
                    
                    i
                        font-size 2.5em
                    span
                        display block
                        font-size 1em
                        font-weight normal
                        margin-top 4px
                &:last-child
                    float inline-end
                    width 100%
            li.link-acc
                a  
                    font-size 1.2em !important
                    width 100% !important
                    i 
                        font-size 1em !important
            li.link-user
                border 1px solid red !important
                border-radius 6px
                padding 3px
                a
                    display block
                    font-size 1.2em
                    width  100% !important
                    img
                        width 36px
                ul.dropdown-menu
                    top 0px
                ul.shadow
                    box-shadow none !important


            
