color1 = red
color2 = #fdd700

body
    background-color #f9f9f9
    font-size 15px
    font-family 'Roboto' , sans-serif
nav
    border-bottom 3px solid color1
    .navbar-brand
        img
            width 200px

    .navbar-nav
        li.nav-item
            a.nav-link
                border 2px solid #ffff
                border-radius 5px
                color #000
                font-size .9em
                font-weight bold
                margin-right 4px
                padding 5px 16px  !important
                &:hover
                    color color1
            a.btn
                color black
                &:hover
                    background-color color2
                    color white
                    border-color color2
            ul.dropdown-menu
                border-radius 0px 0px 4px 4px
                border 0px
                top 162% !important
                li
                    &:last-child
                        border-bottom 0px
                   

        li.link-acc
            overflow hidden
            a
                display inline-block
                float left
                margin-right 0px 
                i
                    color color1
                    margin-right 10px
                &:first-child
                    border-radius 4px 0px 0px 4px
                    border-right 0px solid color2
                &:last-child
                    border-radius 0px 4px 4px 0px
                img
                    position relative
                    top -2px
                    width 25px
                    border-radius 25px
                    margin-right 10px
        li.link-user
            overflow initial
            a
                border-radius  12px !important
